nodes.json
[{"id":"d66cb811.91dd08","type":"webserver","name":"testserver","port":"80","websocket":true},{"id":"f7b702b1.335798","type":"function","name":"","func":"\nif (context.global.sensors === undefined) {\n    context.global.sensors = {};\n}\n\nvar id = msg.payload.id;\nif (msg.payload.token !== context.global.token) {\n    msg.payload = {\"id\": id, \"error\": 1, \"reason\" : \"Bad token\"};\n\n    return msg;\n}\n\nid = msg.payload[\"id\"];\n\n\nif (id === undefined) {\n    msg.payload = {\"id\" : id, \"error\" : 2, \"reason\" : \"Id invalid\"};\n    return msg;\n}\n\nif (msg.payload[\"type\"] === undefined) {\n    msg.payload = {\"id\" : id, \"error\" : 21, \"reason\" : \"No sensor type\"};\n    return msg;\n}\n\nmsg.payload.type = msg.payload.type.replace('\\n', '');\n\ncontext.global.sensors[msg.payload[\"id\"]] = {\n    \"id\" : msg.payload[\"id\"],\n    \"value\" : 0,\n    \"type\" : msg.payload[\"type\"]\n};\n\nconsole.log(context.global.sensors);\n\nif (msg.payload.plain) {\n    msg.payload = 1;\n} else {\n    msg.payload = {\"id\" : id, \"error\" : 0};\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":266.20001220703125,"y":46.19999694824219,"z":"4f31d9ef.b0ce45","wires":[["c86e0a17.3783e8"]]},{"id":"c86e0a17.3783e8","type":"web response","name":"","error":200,"redirect":"","x":524.2000122070312,"y":46.19999694824219,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"40ad7863.76ce68","type":"web route","name":"","server":"d66cb811.91dd08","route":"/register","method":"POST","cors":false,"allow":"*","x":72.5,"y":48.19999694824219,"z":"4f31d9ef.b0ce45","wires":[["f7b702b1.335798"]]},{"id":"c730a86.d2e33d8","type":"web route","name":"","server":"d66cb811.91dd08","route":"/","method":"GET","cors":false,"allow":"*","x":55,"y":181.20001220703125,"z":"4f31d9ef.b0ce45","wires":[["cb359675.18a168"]]},{"id":"cb359675.18a168","type":"function","name":"","func":"msg.payload = \"\\\n<html>\\\n<h1>Hello</h1><br>\\\n<p>Congratulations! You've successfully created a RegisterServer</p>\\\n</html>\";\n\nreturn msg;","outputs":1,"noerr":0,"x":257.20001220703125,"y":182.20001220703125,"z":"4f31d9ef.b0ce45","wires":[["c86e0a17.3783e8"]]},{"id":"2954518d.e67e9e","type":"web route","name":"","server":"d66cb811.91dd08","route":"/get","method":"POST","cors":false,"allow":"*","x":58.5,"y":92.19999694824219,"z":"4f31d9ef.b0ce45","wires":[["7d6e920e.c1ecc4"]]},{"id":"7d6e920e.c1ecc4","type":"function","name":"","func":"\nif (context.global.sensors === undefined) {\n    context.global.sensors = {};\n}\n\nvar token = msg.payload.token || \"\";\nvar id = msg.payload[\"id\"] || \"\";\n\nif (token !== context.global.token) {\n    msg.payload = {\"id\" : id, \"error\" : 3, \"reason\" : \"Bad token\", \"value\" : 0};\n    return msg;\n}\n\nif (!(id  in context.global.sensors)) {\n    msg.payload = {\"id\" : id, \"error\" : 4, \"reason\" : \"Sensor not registerd\", \"value\" : 0};\n    return msg;\n}\n\nif (msg.payload.plain) {\n    msg.payload = context.global.sensors[id][\"value\"];\n} else {\n    msg.payload = {\"id\" : id, \"value\" : context.global.sensors[id][\"value\"], \"error\" : 0};\n}\n\nconsole.log(\"Sent\" + msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":260.20001220703125,"y":93.19999694824219,"z":"4f31d9ef.b0ce45","wires":[["c86e0a17.3783e8"]]},{"id":"f7f4641a.352578","type":"function","name":"","func":"console.log(msg.req.body);\nif (context.global.sensors === undefined) {\n    context.global.sensors = {};\n}\n\nvar token = msg.payload.token || \"\";\nvar id = msg.payload[\"id\"] || \"\";\n\nif (token !== context.global.token) {\n    msg.payload = {\"id\" : id, \"error\" : 5, \"reason\" : \"Sensor not registerd\"};\n    return msg;\n}\n\nif (!(id in context.global.sensors)) {\n    msg.payload = {\"id\" : id, \"error\" : 6, \"reason\" : \"Sensor not registerd\"};\n    return msg;\n}\n\nmsg.payload.value = msg.payload.value || 0;\nif (context.global.sensors[id].type === \"DIGITAL_OUTPUT\") {\n    if (msg.payload.value !== 0 && msg.payload.value !== 1) {\n        msg.payload.value = 0;        \n    }    \n} else if (context.global.sensors[id].type === \"PWM_OUTPUT\") {\n   if (msg.payload.value < 0 || msg.payload.value > 255) {\n        msg.payload.value = 0;        \n    } \n} else if (context.global.sensors[id].type === \"ANALOG_INPUT\") {\n   if (msg.payload.value < 0 || msg.payload.value > 1023) {\n        msg.payload.value = 0;        \n    } \n} else if (context.global.sensors[id].type === \"DIGITAL_INTPUT\") {\n    if (msg.payload.value !== 0 && msg.payload.value !== 1) {\n        msg.payload.value = 0;        \n    }    \n}\n\ncontext.global.sensors[id].value = msg.payload.value || 0;\nconsole.log(context.global.sensors);\n\nmsg.payload = {\"id\" : id, \"error\" : 0};\n\nvar sandbox = {\n    getSensorValue : context.global.getSensorValue,\n    setSensorValue : context.global.setSensorValue\n};\n\nvar vm = require(\"vm\");\nvar script = new vm.Script(context.global.code);\nvar ctxt = vm.createContext(sandbox);\nscript.runInContext(ctxt);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":254.20001220703125,"y":137.1999969482422,"z":"4f31d9ef.b0ce45","wires":[["c86e0a17.3783e8"]]},{"id":"98776d10.4364","type":"web route","name":"","server":"d66cb811.91dd08","route":"/send","method":"POST","cors":false,"allow":"*","x":64,"y":137.1999969482422,"z":"4f31d9ef.b0ce45","wires":[["f7f4641a.352578"]]},{"id":"727967ea.83ec9","type":"web route","name":"","server":"d66cb811.91dd08","route":"/view","method":"GET","cors":false,"allow":"*","x":62.5,"y":227,"z":"4f31d9ef.b0ce45","wires":[["cff167ad.62511"]]},{"id":"cff167ad.62511","type":"web response","name":"","error":200,"redirect":"/static/web.html","x":514,"y":225,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"9644e7d8.0bb968","type":"value","name":"","value":"sensors_str","publish":true,"initial":"","x":529,"y":446,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"79f0d39d.2bfa6c","type":"print","name":"","active":false,"field":"","complete":"false","x":544.2000122070312,"y":410.20001220703125,"z":"4f31d9ef.b0ce45","wires":[]},{"id":"48bf633e.27a07c","type":"run","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":false,"x":65.19999694824219,"y":484.20001220703125,"z":"4f31d9ef.b0ce45","wires":[["8a89dd71.dd92e","6c8d3736.b8901"]]},{"id":"8a89dd71.dd92e","type":"function","name":"","func":"if (context.global.sensors === undefined) {\n    context.global.sensors = {};\n}\n\nmsg.payload = context.global.sensors;\n\nreturn msg;","outputs":1,"noerr":0,"x":252,"y":435,"z":"4f31d9ef.b0ce45","wires":[["9644e7d8.0bb968","79f0d39d.2bfa6c"]]},{"id":"6c8d3736.b8901","type":"trigger","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"0","extend":false,"units":"ms","name":"","x":270.5,"y":484,"z":"4f31d9ef.b0ce45","wires":[["e3cb3729.1c34c8"]]},{"id":"3f8afcb6.c07504","type":"web route","name":"","server":"d66cb811.91dd08","route":"/rules","method":"POST","cors":false,"allow":"*","x":66,"y":275,"z":"4f31d9ef.b0ce45","wires":[["44185063.bbe7b"]]},{"id":"44185063.bbe7b","type":"function","name":"","func":"if (msg.payload.token !== context.global.token) {\n    msg.payload = { error : \"Invalid token\"};\n    return msg;\n}\n\ncontext.global.code = msg.payload.code;\nconsole.log(msg.payload.code);\nvar sandbox = {\n    getSensorValue : context.global.getSensorValue,\n    setSensorValue : context.global.setSensorValue\n};\n\nvar vm = require(\"vm\");\nvar script = new vm.Script(context.global.code);\nvar ctxt = vm.createContext(sandbox);\nscript.runInContext(ctxt);\n\nreturn msg;","outputs":1,"noerr":0,"x":262,"y":250,"z":"4f31d9ef.b0ce45","wires":[["c86e0a17.3783e8"]]},{"id":"e3cb3729.1c34c8","type":"function","name":"EDIT THIS","func":"\ncontext.global.sensors = {};\ncontext.global.code = \"\";\ncontext.global.token = \"salut124\";\n\ncontext.global.setSensorValue = function(name, value) {\n    if (name in context.global.sensors) {\n        context.global.sensors[name].value = value;\n    }\n}\n\ncontext.global.getSensorValue = function(name) {\n    if (name in context.global.sensors) {\n        return context.global.sensors[name].value;\n    }\n    \n    return 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":528,"y":488,"z":"4f31d9ef.b0ce45","wires":[[]]},{"id":"3187176c.ce78e8","type":"web route","name":"","server":"d66cb811.91dd08","route":"/set_","method":"POST","cors":false,"allow":"*","x":61,"y":314,"z":"4f31d9ef.b0ce45","wires":[["4b1ab644.b4e548"]]},{"id":"4b1ab644.b4e548","type":"function","name":"","func":"var redis = require(\"redis\");\nvar client = redis.createClient();\n\nclient.set(msg.payload.key, msg.payload.value);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":298,"z":"4f31d9ef.b0ce45","wires":[["c86e0a17.3783e8"]]},{"id":"6ecc0f1a.9133f","type":"web route","name":"","server":"d66cb811.91dd08","route":"/get_","method":"POST","cors":false,"allow":"*","x":58,"y":357,"z":"4f31d9ef.b0ce45","wires":[["7851387b.87aec8"]]},{"id":"7851387b.87aec8","type":"function","name":"","func":"var redis = require(\"redis\");\nvar client = redis.createClient();\n\nmsg.payload = client.get(msg.payload.key, function(err, r) {\n    msg.payload = r;console.log(r);\n    node.send(msg);\n});\n\n//node.send();","outputs":1,"noerr":0,"x":346,"y":363,"z":"4f31d9ef.b0ce45","wires":[["c86e0a17.3783e8"]]}]